.spinner {
  border: 4px solid #f3f3f3; /* açık gri */
  border-top: 4px solid #3498db; /* mavi */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.8s linear infinite;
  margin: 10px 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
